[defaults]
callback_plugins =  ./plugin
# host_key_checking = False
default_remote_user = root
display_skipped_hosts = False
remote_tmp = /tmp
retry_files_enabled = False
callbacks_enabled = timer
interpreter_python_fallback = ['/usr/bin/python3', '/usr/bin/python', '/usr/local/bin/python3', '/usr/local/bin/python', '/opt/bin/python3', 'python', 'python3', '/usr/local/bin/python3.12']

# When Ansible version >= 2.10, and Ansible collections are not installed
# in the default path, then set this parameter to the path of installed collections.
# collections_paths = path_to_installed_collections

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=30 -o ConnectionAttempts=5 -o ServerAliveInterval=15 -o ServerAliveCountMax=3
retries = 5
